#main-content {
  display: flex;
  background-color: #6200EE;
  justify-content: center;
  align-items: center;
  height: 100%;
}


#container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  background-color: #6200EE;
  padding: 16px;
  border-radius: 8px;
}

.title {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 16px;
}

ion-padding {
    border-radius: 10px 20px 30px 40px;  /* Redondeo específico para cada esquina: arriba-izquierda, arriba-derecha, abajo-derecha, abajo-izquierda */
}

ion-header {
  border-radius: 20px; /* Bordes redondeados */
  overflow: hidden; /* Para cortar contenido sobrante */
}

ion-card {
  background-color: #6200EE;
  box-shadow: none; /* Asegura que no haya sombra */

}

ion-card-title {
  color: #ffffff;
}

ion-item {
  --background: #6200EE;
}

ion-input {
  color: #ffffff;
}

ion-button {
  --background: #6200EE;
  --color: #ffffff;
  --border-color: transparent; /* Ionic usa variables CSS */
  border: none; /* Sin borde */
  border-radius: 20px; /* Bordes redondeados */
  outline: none; /* Elimina el borde morado del enfoque */
  box-shadow: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ion-header {
  --border-width: 0;
  --box-shadow: none;
}

ion-toolbar {
  --border-width: 0;
  --box-shadow: none;
  --border-color: transparent;
  --background: transparent;
  --ion-border-color: transparent;
  border-bottom: none;
  box-shadow: none;
}


ion-header.md, ion-footer.md {
  --box-shadow: none;
}

ion-header.ios, ion-footer.ios {
  --border-color: transparent;
}


@media (max-width: 600px) {
  #container {
    padding: 8px;
    max-width: 90%;
  }

  .title {
    font-size: 20px;
  }

  ion-card-title {
    font-size: 18px;
  }

  ion-button {
    font-size: 14px;
  }
}