<ion-header [translucent]="true" style="background-color: #6200EE;">
  <ion-toolbar>
    <ion-title style="color: #ffffff;">Detalles del Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #ffffff;">
  <div *ngIf="cursoData">

    <h2>Nombre: {{ cursoData.curso.nombre }}</h2>
    <p><strong>Descripción:</strong> {{ cursoData.curso.descripcion }}</p>
  
    <!-- Clases del curso -->
    <div *ngIf="clasesData">
      <h2>{{ clasesData.message }}</h2>
      <div class="clase-list-container" *ngIf="clasesData.clases.length > 0; else sinClases">
        <div *ngFor="let clase of clasesData.clases" class="clase-item">
          <div class="clase-info">
            <p>Clase: {{ clase.id }}</p>
            <p>Fecha: {{ clase.fecha }}</p>
            <p>Hora de Inicio: {{ clase.hora_inicio }}</p>
            <p>Hora de Término: {{ clase.hora_termino }}</p>
          </div>
          <ion-button size="small" class="qr-button" (click)="GenerarQR(clase.codigo_web)">Generar QR</ion-button>
        </div>
        
        
      </div>
      <ng-template #sinClases>
        <p>No hay clases disponibles para este curso.</p>
      </ng-template>
    </div>
    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-input id="fechaClase" type="date"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Hora de Inicio</ion-label>
      <ion-select id="horaClase">
        <ion-select-option value="09:00">09:00</ion-select-option>
        <ion-select-option value="10:00">10:00</ion-select-option>
        <ion-select-option value="11:00">11:00</ion-select-option>
        <ion-select-option value="12:00">12:00</ion-select-option>
        <ion-select-option value="13:00">13:00</ion-select-option>
        <ion-select-option value="14:00">14:00</ion-select-option>
        <ion-select-option value="15:00">15:00</ion-select-option>
        <ion-select-option value="16:00">16:00</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Hora de Fin</ion-label>
      <ion-select id="horaFinClase">
        <ion-select-option value="10:00">10:00</ion-select-option>
        <ion-select-option value="11:00">11:00</ion-select-option>
        <ion-select-option value="12:00">12:00</ion-select-option>
        <ion-select-option value="13:00">13:00</ion-select-option>
        <ion-select-option value="14:00">14:00</ion-select-option>
        <ion-select-option value="15:00">15:00</ion-select-option>
        <ion-select-option value="16:00">16:00</ion-select-option>
        <ion-select-option value="17:00">17:00</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" (click)="CrearClase(cursoData.curso.id)">Crear Clase</ion-button>
    <ion-button expand="full" (click)="Volver()">Volver</ion-button>
  </div>
</ion-content>