::ng-deep h1, ::ng-deep h2, ::ng-deep h3 {
  color: #000000;
}

img {
  border-radius: 5px;
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
.clase-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px; /* Reduce el padding interno */
  border: 1px solid #ccc; /* Límite visual */
  border-radius: 6px; /* Bordes suaves */
  margin-bottom: 6px; /* Menor espacio entre elementos */
  max-width: 300px; /* Reduce el ancho máximo */
  font-size: 12px; /* Reduce el tamaño del texto */
}

.clase-list-container {
  max-width: 400px; /* Limita el ancho total del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 0 16px; /* Agrega espacio interno a los lados */
}

.clase-info {
  flex: 1;
  margin-right: 8px; /* Espacio entre texto y botón */
}

.qr-button {
  --width: auto; /* Botón ajustado a su contenido */
  --padding-start: 4px;
  --padding-end: 4px;
  --min-height: 24px; /* Altura mínima más pequeña */
  font-size: 10px; /* Texto más pequeño */
}


p {
  font-size: 16px;
}
#main-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  flex-direction: column;
}


.title {
  color: #FFB800;
  font-size: 24px;
  margin-bottom: 16px;
}


ion-input {
  color: #1A1A1A;
}

ion-button {
  --background: #6200EE;
  color: #FFFFFF;
  

}

a {
  color: #FFB800;
  text-decoration: none;
}

ion-header {
  --border-width: 0;
  --box-shadow: none;
}

ion-toolbar {
  --border-width: 0;
  --box-shadow: none;
  --border-color: transparent;
  --background: transparent;
  --ion-border-color: transparent;
  border-bottom: none; 
  box-shadow: none; 
}


ion-title {
  display: block;
  width: 100%;
  text-align: center;
  white-space: normal; /* Permite que el texto se ajuste en varias líneas */
  overflow: visible; /* Asegura que el texto no se recorte */
  padding: 10px 0; /* Añade un poco de espacio alrededor del texto */
}
.toolbar-custom-color {
  --background: #6200EE;
}


ion-header.md, ion-footer.md {
  --box-shadow: none;
}

ion-header.ios, ion-footer.ios {
  --border-color: transparent;
}

.result {
  margin-top: 30px;
  font-size: 1.2rem;
}

/* Estilos responsivos */
@media (prefers-color-scheme: dark) {
  #container {
    padding: 8px;
    max-width: 90%;
  }


  h1, h2, h3 {
    color: #ffffff;
  }
  .title {
    font-size: 20px;
  }

  ion-card-title {
    font-size: 18px;
  }

  ion-button {
    --background: #6200EE;
    color: #FFFFFF;
    
  
  }
}
